* {
	margin: 0;
   
}
html{
	height:100%;
	width:100%;
	
}

body{
	height:100%;
	margin:0%;
	background-color: #e6e7e8;;
}

nav{
	float:left;
	height:120%;
	width:18%;
	background-color: #314677;
	padding:2%;
	margin-right:2%;
}
nav a{
	text-decoration:none;
	color: #2B466A;
}

nav ul{
	list-style-type:none;
	padding: 0;
}

main{
	
	
}

p{
	margin:2%;
}

li{
	background-color: #e6e7e8;
	margin-bottom:3px;
}
h1{
	background-color:#314677;
	display: inline-block;
	color:#e6e7e8;
	margin: 2%;
	padding: 1%;
	border-radius: 20px;
}

	
.MainImgLeft{
	height:150px;
	float:left;
}

#Logo{
	width:100%
}
p{
	margin-left:5px;
	
}
